* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
  }

body {
  color:black;
}

  header {
    position: fixed;
    right: 0;
    top: 0;
    padding: 15px 6%;
    display: flex;
    z-index: 9999;
    position: fixed;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, #F1F5D3, #E5EDE1 20%, #DDDCE1 45%, #F4DDD4 80%, #FEE0B1);
    position: relative;
    overflow: hidden;
  }
  
  .navbar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #F1F5D3, #E5EDE1 20%, #DDDCE1 45%, #F4DDD4 80%, #FEE0B1);
    transform: translateY(-50%);
    z-index: -1;
    pointer-events: none;
  }
  
  .navbar.active::before {
    background: linear-gradient(90deg, #F1F5D3, #E5EDE1 20%, #DDDCE1 45%, #F4DDD4 80%, #FEE0B1);
  }
  

  .navbar_list {
    display: flex;
  }
  
  .navbar_list li {
    padding: 10px 20px;
    position: relative;
  }
  
  .navbar_list a {
    text-decoration: none;
    color: black;
    font-weight: 400;
  }
    
  ul li {
    cursor: pointer;
    position: relative;
    margin: 0 1.4em;
    padding: 1.2em 1.6em;
    transition: all 0.2s;
    transition-delay: 0.2s;
    background-color: white;
  }
  
  ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: black;
    transition: all  0.2s;
  }

  ul li:hover {
    background-color: #FFD063;
  }

  ul li:hover::before {
    bottom: 56px; 
    left: 0;
    background-color:#FFD063;
  }  
  

