* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
  }

   
  @font-face {
    font-family: 'Gliker-SemiBoldSemiCondensed';
    src: url('https://aurabora.com/cdn/shop/t/189/assets/font-Gliker-SemiBoldSemiCondensed.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'SpaceMono-Regular';
    src: url('https://aurabora.com/cdn/shop/t/189/assets/font-SpaceMono-Regular.woff2') format('worf')
  }
  
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
 

body {
  color:black;
}

  header {
    position: fixed;
    right: 0;
    top: 0;
    padding: 15px 6%;
    display: flex;
    z-index: 9999;
    position: fixed;
  }

/* Navigation bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, #F1F5D3, #E5EDE1 20%, #DDDCE1 45%, #F4DDD4 80%, #FEE0B1);
    position: relative;
    overflow: hidden;
  }
  
  .navbar::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #F1F5D3, #E5EDE1 20%, #DDDCE1 45%, #F4DDD4 80%, #FEE0B1);
    transform: translateY(-50%);
    z-index: -1;
    pointer-events: none;
  }
  
  .navbar.active::before {
    background: linear-gradient(90deg, #F1F5D3, #E5EDE1 20%, #DDDCE1 45%, #F4DDD4 80%, #FEE0B1);
  }
  

  .navbar_list {
    display: flex;
  }
  
  .navbar_list li {
    padding: 10px 20px;
    position: relative;
  }
  
  .navbar_list a {
    text-decoration: none;
    color: black;
    font-weight: 400;
  }
    
  ul li {
    cursor: pointer;
    position: relative;
    margin: 0 1.4em;
    padding: 1.2em 1.6em;
    transition: all 0.2s;
    transition-delay: 0.2s;
    background-color: white;
  }
  
  ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: black;
    transition: all  0.2s;
  }

  ul li:hover {
    background-color: #FFD063;
  }

  ul li:hover::before {
    bottom: 56px; 
    left: 0;
    background-color:#FFD063;
  }

/* Custom cursor*/
  html, body {
    cursor: none;
  }
  
a {
    cursor: url('https://www.cursor.cc/cursor3d/25539.png'), auto;
  }
  
  .cursor-img {
    position: fixed;
    pointer-events: none;
    width: 30px;
    height: 30px;
    background-image: url('https://www.cursor.cc/cursor3d/25539.png');
    background-size: cover;
    transition: transform 0.1s ease-out;
    z-index: 9999;
  }
  
  .cursor-trail {
    position: absolute;
    pointer-events: none;
    background-color: #ff3366;
    border-radius: 50%;
    opacity: 0.4;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  }


  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: purple;
  }
  
  
  @keyframes scrollbar-animation {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  ::-webkit-scrollbar-thumb:hover {
    animation: scrollbar-animation 0.5s forwards;
  }
  
.container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120vh;
    background-image: url("https://aurabora.com/cdn/shop/files/GE_HeroLandscape.svg?v=1682974574&width=1800");
    background-color: #FFE2E2;
    height: 90vh;
    width: 100%;
    align-items: center;
  }
  
  .container h1 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 120px;
    font-size: 5rem;
    color: #234E32;
    font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
    animation: fadeInAnimation 1s ease-in-out forwards;
  }

  .container p{
    text-align: center;
    font-size: 1.25rem;
    font-family: 'SpaceMono-Regular', Arial, sans-serif;
    padding-bottom: 10px;
    padding-left: 16%;
    padding-right:16%;
  }
  
  
  .team_profile{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #F2E9D7;
  }
  

.team_profile .heading h3{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
  color: #E6EBAF;
  font-size: 5rem;
  padding-bottom: 10px;
  padding-top: 80px;
}

.team_profile .heading h5{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
  color: #E6EBAF;
  font-size: 2rem;
  padding-bottom: 50px;
}

.team_profile_content{
    height: 125vh;
    width: 100%;
    /* position: relative; */
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
}
  
  .box{
      color: #8DA4B3;
      margin-bottom: 200px;
      background-color: #FFDACE;
      transition: all .35s;
      padding-left: 30px ;
      padding-right:30px;
      display: inline-flex;
      flex-direction: column;
  }
  
  .box h4{
      font-size: 25px;
      font-weight: 600;
      margin-top: 15vh;
      font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
  }
  
  .box h5{
      font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 15px;
  }
  
  .box p{
      font-family:'SpaceMono-Regular', Arial, sans-serif;
      font-size: 14px;
      color: black;
      text-align: justify;
  }
  
  .box:hover{
      box-shadow: 0px 30px 30px #FA8F6B;
  }
  

  .group_reflection{
    background-color: #FFE2E2;
    padding: 120px 16%;
}

.heading{
  text-align: center;
}

.group_reflection .heading h3{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
  color: #FF8179;
  font-size: 5rem;
  padding-bottom: 10px;
  padding-top: 20px;
}

.group_reflection .heading h5{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
  color: #FF8179;
  font-size: 2rem;
  padding-bottom: 50px;
}

  .row{
      display:block;
      color: black;
      padding: 20px 10px;
      margin: 20px 10px;
      background: #ffffff;
      border-radius: 10px;
      transition: all .30s;
  }
  
  .row h4{
      font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 15px;
      color: #FF8179;
  }
  
  .row p{
      font-family:'SpaceMono-Regular', Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
  }
  
  .row:hover{
      transform: translateX(5px);
      border-left: 10px solid #FBE526;
  }

  .skill_job .heading h3{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
  color: #D2E26B;
  font-size: 5rem;
  padding-bottom: 10px;
  padding-top: 50px;
}

.skill_job .heading h5{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
  color: #D2E26B;
  font-size: 2rem;
  padding-bottom: 50px;
}

.skill_job{
  background-color: #FFF9ED;
}

.skill_job-desc p{
    font-family:'SpaceMono-Regular', Arial, sans-serif;
    flex: 1;
    margin-bottom: 20px;
}


  .career_row{
      display:block;
      padding: 20px 10px;
      margin: 20px 10px;
      background: #DAFBDA;
      border-radius: 10px;
      transition: .30s ease;
  }
  
 
  .career_plan-info{
      margin-bottom: 20px;
  }
  
  .career_row:hover{
      cursor: pointer;
      transform: translateX(5px);
  }
  
  .career_row h4{
      font-family: 'Gliker-SemiBoldSemiCondensed', Arial, sans-serif;
  }
  
